---
import Layout from '../layouts/Layout.astro';
import Card from '../features/ui/Card.astro';
---

<Layout title="Tulsa Web Devs">
  <main>
    <img
      alt="Tulsa Web Devs logo"
      src="/twd-logo.svg"
      width="500rem"
      height="163rem"
      class="block mx-auto"
    />
    <h1 class="text-gradient">Welcome to Tulsa Web Devs</h1>
    <nav class="grid grid-cols-2 gap-2">
      <Card
        title="Learn about Hack Night"
        href="/hacknight"
        body="We get together every Tuesday to work on projects, learn, and socialize"
      />

      <Card
        title="Join us on Meetup"
        href="https://www.meetup.com/tulsa-web-devs"
        body="We host monthly meetups and other special events"
      />
      <Card
        title="Join us on GitHub"
        href="https://www.github.com/tulsawebdevs"
        body="We have a variety of internal and external projects, demos, and labs"
      />
      <Card
        title="Vote on topics and projects"
        href="/proposals"
        body="Or suggest new ones! Our members shape the direction of the group"
      />
    </nav>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
