---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Tulsa Web Devs">
  <main class="grid h-screen w-screen place-items-center bg-white text-4xl">
    Proposal Features Here!
  </main>
</Layout>
