---
import Layout from '../layouts/Layout.astro';
import VoteList from '../components/ProposalsPagenatedList.tsx';
---

<script>
  import type { Proposal } from '../components/ProposalsPagenatedList.tsx';

  export type ProposalResponseData = {
    cursor: string;
    total: number;
    list: Proposal[];
  };

  const fetchProposals = async (
    params:
      | {
          cursor: string;
          limit: number;
        }
      | undefined,
  ): Promise<ProposalResponseData> => {
    const searchParams =
      // eslint-disable-next-line @typescript-eslint/no-unnecessary-condition, @typescript-eslint/strict-boolean-expressions -- parsing error
      params &&
      new URLSearchParams({
        cursor: params.cursor,
        limit: params.limit.toString(),
      });

    // eslint-disable-next-line @typescript-eslint/no-unsafe-argument -- parsing error
    const target = new URL({
      // eslint-disable-next-line @typescript-eslint/no-unsafe-member-access, no-undef -- parsing error
      ...Astro.url,
      pathname: '/api/proposals',
      // eslint-disable-next-line @typescript-eslint/no-unnecessary-condition -- parsing error
      search: searchParams?.toString() ?? '',
    });

    const response = await fetch(target);
    const json = (await response.json()) as unknown;

    // eslint-disable-next-line @typescript-eslint/no-unsafe-return -- parsing error
    return json as ProposalResponseData;
  };
</script>

<Layout title="Tulsa Web Devs">
  <main class="grid w-screen h-screen bg-white text-4xl place-items-center">
    <VoteList
      proposals={[
        {
          created: new Date().toLocaleString(undefined, {
            timeZone: 'America/Chicago',
            dateStyle: 'short',
            timeStyle: 'short',
            hourCycle: 'h12',
          }),
          updated: new Date().toLocaleString(undefined, {
            timeZone: 'America/Chicago',
            dateStyle: 'short',
            timeStyle: 'short',
            hourCycle: 'h12',
          }),
          id: '1',
          description: "I'm interested in learning more about CMSs",
          status: 'open',
          summary: 'I want to learn more about CMSs',
          title: 'CMS Hack-night',
          type: 'topic',
        },
      ]}
    />
  </main>
</Layout>
