---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const userEmail = 'test@test.com'; // placeholder from auth

// @TODO: Need some sort of auth wall here.
---

<Layout title="Tulsa Web Devs">
  <main class="grid w-screen h-screen bg-white text-4xl place-items-center">
    <div class="container my-0 mx-auto py-0 px-3 max-w-5xl">
      <h2 class="text-2xl">Have an idea?! Submit it!</h2>
      <h3 class="text-xl">Fill out the form below!</h3>
      <form>
        <label for="name" class="text-l font-semibold">Name:</label>
        <input type="text" id="name" name="name" class="w-full">
        <label for="email" class="text-l font-semibold">
          <p class="font-bold">Email:</p>
          <p>In case we need to contact you</p>
        </label>
        <input type="email" id="email" name="email" value={userEmail} required class="w-full">
        <label for="topic" class="text-l font-semibold">
          <p class="font-bold">Topic:</p>
          <p>What's the name of your topic</p>
        </label>
        <textarea id="topic" name="topic" required class="rounded-sm w-full"></textarea>
        <label for="summary" class="text-l font-semibold">
          <p class="font-bold">Summary:</p>
          <p>Describe your topic</p>
        </label>
        <textarea id="summary" name="summary" required rows="5" class="rounded-sm w-full"></textarea>
        <div class="checkboxes border-t-4 border-b-4 flex items-center justify-start text-left mb-4 gap-5">
          <input type="checkbox" id="project" name="proposal-type" value="project">
          <label for="project" class="text-l font-semibold">Project!</label><br>
          <input type="checkbox" id="talk" name="proposal-type" value="talk">
          <label for="talk" class="text-l font-semibold">Talk!</label><br>
          <input type="checkbox" id="lab" name="proposal-type" value="lab">
          <label for="lab" class="text-l font-semibold"> Lab!</label><br>
        </div>
        <div>
<!-- Date Picker here!!! -->
        </div>

        <button type="submit" class="bg-black text-white uppercase px-3 py-7">Submit!</button>
      </form>
    </div>
  </main>
</Layout>
