---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

// export async function fetchContent({ request, response }) {
//   if (request.method === 'POST') {
//     try {
//       const data = await request.formData();
//       const name = data.get('name') as string;
//       const email = data.get('email') as string;
//       const topic = data.get('topic') as string;
//       const summary = data.get('summary') as string;

//       // Check if name has at least 6 characters
//       if (name && name.length < 6) {
//         throw new Error('Name must be at least 6 characters long');
//       }

//       // Check if email is valid (you can add more complex validation)
//       if (email && !isValidEmail(email)) {
//         throw new Error('Invalid email address');
//       }

//       // Check if topic and summary have at least 6 characters
//       if ((topic && topic.length < 6) || (summary && summary.length < 6)) {
//         throw new Error('Topic and summary must be at least 6 characters long');
//       }

//       // Retrieve all selected values for checkboxes
//       const proposalTypes = data.getAll('proposal-type');

//       // This is POST request. It's not going to be visible in browser.
//       // Check Network tab in Inspect Mode of Google Chrome or Firefox to see request.
//     } catch (error) {
//       if (error instanceof Error) {
//         console.error(error.message);
//       }
//     }
//   }
// }

// Add a simple email validation function
function isValidEmail(email: string | null): boolean {
  // Just check if it contains '@'
  return !!email && email.includes('@');
}
---

<Layout title="propose">
  <main>
    <img
      alt="Tulsa Web Devs logo"
      src="/twd-logo.svg"
      height="auto"
      width="100%"
    />

    <div class="flex flex-col items-center m-2" id="header">
      <h1 class="text-3xl max-md:text-2xl">Propose an idea!</h1>
      <h2 class="text-2xl max-md:text-xl">
        Have an idea?! Submit it! Just fill out this form!
      </h2>
    </div>

    <form method="POST" id="proposalForm" class="m-4">
      <div class="p-4 flex flex-col">
        <div id="name-fields" class="shrink p-2">
          <label for="name" class="text-l font-semibold">Name:</label>
          <input
            type="text"
            name="authorName"
            required
            minlength={6}
            placeholder="Enter your name, nickname, or alias..."
            class="rounded-small w-3/4 max-md:w-full"
          />
        </div>
        <div id="email-field" class="shrink p-2">
          <label for="email" class="text-l font-semibold">Email:</label>
          <input
            type="email"
            name="authorEmail"
            placeholder="myemailaddress@example.com..."
            class="rounded-small w-3/4 max-md:w-full"
          />
        </div>
      </div>

      <div class="p-4" id="topic-summary-fields">
        <label for="topic" class="text-l font-semibold">Topic:</label>
        <textarea
          id="topic"
          name="title"
          required
          minlength={6}
          class="rounded-sm w-full"
          placeholder="Topic title, framework name, main subject..."></textarea>
        <label for="summary" class="text-l font-semibold">Summary:</label>
        <textarea
          id="summary"
          name="summary"
          required
          minlength={6}
          rows={5}
          class="rounded-sm w-full"
          placeholder="Tell us more about it here..."></textarea>
      </div>

      <div
        class="checkboxes border-t-4 border-b-4 flex items-center justify-start text-left m-5 p-4 gap-5"
        id="checkboxes"
      >
        <input
          type="checkbox"
          id="project"
          name="proposal-type"
          value="project"
        />
        <label for="project" class="text-l font-semibold">
          {' '}
          Project!{' '}
        </label>
        <input type="checkbox" id="talk" name="proposal-type" value="talk" />
        <label for="talk" class="text-l font-semibold">
          {' Talk! '}
        </label>
        <input type="checkbox" id="lab" name="proposal-type" value="lab" />
        <label for="lab" class="text-l font-semibold">
          {' '}
          Lab!
        </label>
      </div>
      <button type="submit" class="bg-black text-white uppercase px-7 py-3">
        Submit
      </button>
    </form>
    <nav class="grid grid-cols-1 md:grid-cols-2 gap-2 m-2" id="footer-nav">
      <Card
        title="Vote on Topics and Projects"
        href="/vote"
        body="We want input from you on what we program!"
      />
      <Card
        title="Go Back!"
        href="/"
        body="Return to the home page to see what we're all about!"
      />
    </nav>
  </main>
</Layout>
