---
import Layout from '../layouts/Layout.astro';
import AddProposalButton from '../features/vote/proposals/AddProposalButton.tsx';
import ProposalList from '../features/vote/proposals/list/ProposalList.astro';
import { getProposals } from '../features/vote/proposals/services/proposal.ts';

const { cursor, proposals } = await getProposals();
---

<Layout title="Tulsa Web Devs">
  <main class="py-5">
    <div class="mx-auto max-w-[800px] bg-white rounded p-3">
      <div class="flex justify-between items-center mb-3">
        <h1 class="font-bold text-xl">Proposals</h1>

        <AddProposalButton client:load />
      </div>

      <ProposalList proposals={proposals} cursor={cursor} />
    </div>
  </main>
</Layout>
