---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tulsa Web Devs">
  <main class="grid w-screen h-screen bg-white text-4xl place-items-center">
    Voting Feature Here!
  </main>
</Layout>
