---
import type { Proposal } from '../types.ts';
import EmptyList from './EmptyList.astro';
import LoadMoreProposalsButton from './LoadMoreProposalsButton.tsx';
import ProposalCard from '../card/ProposalCard.tsx';

interface Props {
  proposals: Proposal[];
  cursor?: string;
}

const { proposals, cursor } = Astro.props;
---

<div>
  <ul class="flex flex-col">
    {
      proposals.map((proposal) => (
        <li class="mb-2">
          <ProposalCard client:load proposal={proposal} />
        </li>
      ))
    }

    <LoadMoreProposalsButton client:load cursor={cursor} />

    {
      proposals.length === 0 && (
        <li>
          <EmptyList />
        </li>
      )
    }
  </ul>
</div>
