{
  "openapi": "3.1.0",
  "info": {
    "title": "Tulsa WebDevs Voting Service",
    "description": "API for casting votes on various topics/projects and submitting and managing proposals with a ranking and voting system.",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "http://vote.tulsawebdevs.org",
      "description": "Voting Service API"
    },
    {
      "url": "http://localhost:8080",
      "description": "Local development server"
    }
  ],
  "paths": {
    "/drafts": {
      "summary": "Manage the current user's proposal drafts",
      "parameters": [
        {
          "name": "Authorization",
          "in": "header",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get a list of the current user's drafts with pagination, filtering, and sorting",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Cursor for paginating through a list of drafts"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "default": 10,
              "type": "integer",
              "format": "int32"
            },
            "description": "Maximum number of drafts to return"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["topic", "project"]
            },
            "description": "Filter drafts by type"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": ["cursor"],
                      "properties": {
                        "cursor": {
                          "description": "Cursor for paginating through a list of items",
                          "type": "integer",
                          "format": "int32"
                        },
                        "total": {
                          "description": "Total number of items of this type in the database, if known",
                          "type": "integer",
                          "format": "int32"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": ["drafts"],
                      "properties": {
                        "drafts": {
                          "type": "array",
                          "items": {
                            "allOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "title": {
                                    "type": "string",
                                    "maxLength": 48
                                  },
                                  "summary": {
                                    "type": "string",
                                    "maxLength": 255
                                  },
                                  "description": {
                                    "type": "string",
                                    "maxLength": 2048
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": ["topic", "project"]
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "required": ["id", "created"],
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "format": "int32"
                                  },
                                  "created": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "updated": {
                                    "type": "string",
                                    "format": "date-time"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": ["message"],
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "default": "Unauthorized"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": ["message"],
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "default": "Not Found"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["message"],
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new draft",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 48
                  },
                  "summary": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 2048
                  },
                  "type": {
                    "type": "string",
                    "enum": ["topic", "project"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "maxLength": 48
                        },
                        "summary": {
                          "type": "string",
                          "maxLength": 255
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 2048
                        },
                        "type": {
                          "type": "string",
                          "enum": ["topic", "project"]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": ["id", "created"],
                      "properties": {
                        "id": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "created": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": ["message"],
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "default": "Unauthorized"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["message"],
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update an existing draft",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "maxLength": 48
                      },
                      "summary": {
                        "type": "string",
                        "maxLength": 255
                      },
                      "description": {
                        "type": "string",
                        "maxLength": 2048
                      },
                      "type": {
                        "type": "string",
                        "enum": ["topic", "project"]
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["draftId"],
                    "properties": {
                      "draftId": {
                        "type": "integer",
                        "format": "int32"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "maxLength": 48
                        },
                        "summary": {
                          "type": "string",
                          "maxLength": 255
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 2048
                        },
                        "type": {
                          "type": "string",
                          "enum": ["topic", "project"]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": ["id", "created"],
                      "properties": {
                        "id": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "created": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": ["message"],
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "default": "Unauthorized"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": ["message"],
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "default": "Not Found"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["message"],
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a draft by ID",
        "parameters": [
          {
            "required": true,
            "name": "draftId",
            "description": "Id of the draft to delete",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404Error"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/proposals": {
      "summary": "",
      "get": {
        "summary": "Get a list of the proposals with pagination, filtering, and sorting",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Cursor for paginating through the list of proposals"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "default": 10,
              "type": "integer",
              "format": "int32"
            },
            "description": "Maximum number of proposals to return"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["topic", "project"]
            },
            "description": "Filter proposals by type"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["open", "closed"]
            },
            "description": "Filter proposals by status"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Paginated"
                    },
                    {
                      "type": "object",
                      "required": ["proposals"],
                      "properties": {
                        "proposals": {
                          "type": "array",
                          "items": {
                            "allOf": [
                              {
                                "type": "object",
                                "required": ["authorName"],
                                "properties": {
                                  "authorName": {
                                    "type": "string"
                                  }
                                }
                              },
                              {
                                "$ref": "#/components/schemas/Proposal"
                              },
                              {
                                "$ref": "#/components/schemas/ProposalVoteState"
                              },
                              {
                                "$ref": "#/components/schemas/DatabaseObject"
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404Error"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Create a new proposal",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Proposal"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Proposal"
                    },
                    {
                      "$ref": "#/components/schemas/ProposalVoteState"
                    },
                    {
                      "$ref": "#/components/schemas/DatabaseObject"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401Error"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{proposalId}": {
      "summary": "Manage a user's vote on a proposal",
      "parameters": [
        {
          "name": "Authorization",
          "in": "header",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "proposalId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer",
            "format": "int32"
          }
        }
      ],
      "post": {
        "summary": "Submit (or update) a vote on a proposal",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Vote"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/Vote" },
                    { "$ref": "#/components/schemas/DatabaseObject" }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401Error"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a user's proposal vote",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "voteId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404Error"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DatabaseObject": {
        "type": "object",
        "required": ["id", "created"],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "updated": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Draft": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 48
          },
          "summary": {
            "type": "string",
            "maxLength": 255
          },
          "description": {
            "type": "string",
            "maxLength": 2048
          },
          "type": {
            "type": "string",
            "enum": ["topic", "project"]
          }
        }
      },
      "Proposal": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Draft"
          },
          {
            "type": "object",
            "required": ["type", "title", "summary"],
            "properties": {
              "title": {
                "type": "string",
                "minLength": 8
              },
              "summary": {
                "type": "string",
                "minLength": 30
              }
            }
          }
        ]
      },
      "Vote": {
        "type": "object",
        "required": ["value"],
        "properties": {
          "value": {
            "description": "Ranking values: -2 (strong disinterest), -1 (slight disinterest), 0 (neutral), 1 (slight interest), 2 (strong interest)",
            "type": "string",
            "enum": ["-2", "-1", "0", "1", "2"]
          },
          "comment": {
            "type": "string",
            "maxLength": 255
          }
        }
      },
      "ProposalVoteState": {
        "oneOf": [
          {
            "type": "object",
            "required": ["status", "results"],
            "properties": {
              "userVote": {
                "$ref": "#/components/schemas/Vote"
              },
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Vote"
                }
              },
              "status": {
                "type": "string",
                "enum": ["closed"]
              }
            }
          },
          {
            "type": "object",
            "required": ["status"],
            "properties": {
              "userVote": {
                "$ref": "#/components/schemas/Vote"
              },
              "status": {
                "type": "string",
                "enum": ["open"]
              }
            }
          }
        ]
      },
      "Expirable": {
        "type": "object",
        "required": ["expires"],
        "properties": {
          "expires": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Paginated": {
        "type": "object",
        "required": ["cursor"],
        "properties": {
          "cursor": {
            "description": "Cursor for paginating through a list of items",
            "type": "integer",
            "format": "int32"
          },
          "total": {
            "description": "Total number of items of this type in the database, if known",
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["message"],
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "404Error": {
        "allOf": [
          {
            "type": "object",
            "required": ["message"],
            "properties": {
              "message": {
                "type": "string"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "default": "Not Found"
              }
            }
          }
        ]
      },
      "401Error": {
        "allOf": [
          {
            "type": "object",
            "required": ["message"],
            "properties": {
              "message": {
                "type": "string"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "default": "Unauthorized"
              }
            }
          }
        ]
      }
    }
  }
}
